{% extends 'base.html' %}
{% block content %}

<h2>Controle de estoque de games:</h2>

<details>
    <summary class="m-2">[ Cadastrar novo jogo ]</summary>
    <div class="col-md-4 m-2">
        <form action="{{url_for('estoque')}}" method="post">
            <input type="hidden" name="CadastrarJogo" value="true">
            <input type="text" name="title" placeholder="Título" class="form-control" required>
            <input type="number" name="year" placeholder="Ano" class="form-control" required>
            <input type="text" name="category" placeholder="Categoria" class="form-control" required>
            <input type="text" name="platform" placeholder="Plataforma" class="form-control" required>
            <input type="number" name="price" placeholder="Preço" class="form-control" required>
            <input type="number" name="quantity" placeholder="Quantidade" class="form-control" required>

            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Título:</th>
            <th>Ano:</th>
            <th>Categoria:</th>
            <th>Plataforma:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for game in gamesestoque %}
        <tr>
            <td style="color: blue;">{{game.title}}</td>
            <td>{{game.year}}</td>
            <td>{{game.category}}</td>
            <td>{{game.platform}}</td>
            <td>R${{game.price}}</td>
            <td>{{game.quantity}}</td>
            <td><button class="btn btn-warning">Editar</button></td>
            <td><a href="{{url_for('estoque', id=game.id, type='game')}}"><button class="btn btn-danger">Excluir</button></a></td>
        </tr>
        {% endfor %}
        
    </tbody>
</table>
<hr>


<h2>Controle de estoque de consoles:</h2>
<details>
    <summary class="m-2">[ Cadastrar novo console ]</summary>
    <div class="col-md-4 m-2">
        <form action="{{url_for('estoque')}}" method="post">
            <input type="hidden" name="CadastrarConsole" value="true">
            <input type="text" name="name" placeholder="Nome" class="form-control" required>
            <input type="text" name="producer" placeholder="Fabricante" class="form-control" required>
            <input type="number" name="price" placeholder="Preço" class="form-control" required>
            <input type="number" name="quantity" placeholder="Quantidade" class="form-control" required>

            <input type="submit" value="Cadastrar" class="btn btn-success">
            <input type="reset" value="Limpar" class="btn btn-danger">
        </form>
    </div>
</details>
<hr>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nome:</th>
            <th>Fabricante:</th>
            <th>Preço:</th>
            <th>Quantidade:</th>
        </tr>
    </thead>
    <tbody>
        {% for console in consoleEstoque %}
        <tr>
            <td style="color: green;">{{console.name}}</td>
            <td>{{console.producer}}</td>
            <td>R${{console.price}}</td>
            <td>{{console.quantity}}</td>
            <td><button class="btn btn-warning">Editar</button></td>
            <td><a href="{{url_for('estoque', id=console.id, type='console')}}"><button class="btn btn-danger">Excluir</button></a></td>

        </tr>
        {% endfor %}
        
    </tbody>
</table>


{% endblock content %}